Django==5.2
Pillow==11.1.0
python-dotenv==1.1.0
django-crispy-forms==2.3
crispy-bootstrap5==2025.4
django-allauth==0.65.7
django-geoposition==0.3.0
celery==5.3.6
redis==5.0.1
django-celery-results==2.5.1
channels==4.0.0
channels-redis==4.1.0 